In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import math

In [3]:
# CTU-13 dataset 
# https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-42/
dataLoc = "~/Downloads/capture20110810.binetflow.txt"
dataPD = pd.read_csv(dataLoc)

In [ ]:
# Columns we need (pipe_separated):
#     floor(unix_time/3600)*3600
#     num_lines
#     source_i
#     dest_ip
#     comma separated list of source ports
#     comma separated list of dst ports
#     comma separated list of protocols (uppercase)
#     sum(packets)
#     sum(bytes)
#
# Per source_ip, dest_ip, floor(unix_time/3600)

In [6]:
dataPD[0:2]

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
0,2011/08/10 09:46:53.047277,3550.182373,udp,212.50.71.179,39678,<->,147.32.84.229,13363,CON,0.0,0.0,12,875,413,flow=Background-UDP-Established
1,2011/08/10 09:46:53.048843,0.000883,udp,84.13.246.132,28431,<->,147.32.84.229,13363,CON,0.0,0.0,2,135,75,flow=Background-UDP-Established

In [10]:
# Retrieve columns we need
dataPD = pd.concat([dataPD['StartTime'],dataPD['Proto'],dataPD['SrcAddr'],dataPD['DstAddr'],dataPD['Sport'],dataPD['Dport'],dataPD['TotPkts'],dataPD['TotBytes']],axis=1)
dataPD[0:2]

,StartTime,Proto,SrcAddr,DstAddr,Sport,Dport,TotPkts,TotBytes
0,2011/08/10 09:46:53.047277,udp,212.50.71.179,147.32.84.229,39678,13363,12,875
1,2011/08/10 09:46:53.048843,udp,84.13.246.132,147.32.84.229,28431,13363,2,135